/* 全局css */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,dd,li,border,filedset,ol,ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: .28em;
	font-family: Arial,"微软雅黑"；
	color:#333;
	background: #fff;
	/*overflow: hidden;*/
	font-weight: 400;
	background: #fff;
}


a{
	color: #000;
	text-decoration: none;		
}
em{
	font-style: normal;
}
p{
	word-wrap: break-word;/*换行*/
}

input,img{
	/*vertical-align: middle;*/
	border: 0 none;
	outline-style:none;
	padding: 0;
	margin: 0; 
}

/*清除浮动*/
.clearfix:after{
	content:"";
	height: 0;
	line-height: 0;
	display: block;
	clear:both;
	visibility: middle;
}

.clearfix{
	zoom:1;
} 

/*版心*/
.w{
	width: 1200px;
	margin: 0 auto;
}

/*向下箭头*/
.jiantou{
	display: block;
	width:0;
	border:5px solid #f8a120;
	margin-left: 50px;
	margin-top: -8px;
	border-left-color:transparent;
	border-bottom-color:transparent;
	border-right-color:transparent;
}
/*图片 按钮 输入框 文本等垂直居中*/
button, img, object, select, textarea {
    vertical-align: middle;
}